URxvt*.background: #151B1A
URxvt*.foreground: #8FA388
!URxvt*.foreground: #7E9982
URxvt*.cursorColor: #9E6438

URxvt*.color0: #2E2B38
URxvt*.color1: #984E66
URxvt*.color2: #7A8C54
URxvt*.color3: #9E6438
URxvt*.color4: #395667
URxvt*.color5: #9D916B
URxvt*.color6: #536556
URxvt*.color7: #828181
URxvt*.color8: #474159
URxvt*.color9: #A86D56
URxvt*.color10: #9FB274
URxvt*.color11: #B29F5E
URxvt*.color12: #507A91
URxvt*.color13: #B89855
URxvt*.color14: #7E9982
URxvt*.color15: #BDBDA4

! font
! run fc-list for a list of available fonts
URxvt*font: xft:Tamsyn::pixelsize=19:style=regular:antialias=false
URxvt*boldFont: xft:Tamsyn:pixelsize=19:style=bold:antialias=false

! spacing
URxvt*letterSpace: 0
URxvt*lineSpace: 0

! disable scroll bar
URxvt*scrollBar: false

! scroll with output
URxvt*scrollTtyOutput: false

! scroll to the bottom on keypress
URxvt*scrollTtyKeypress: true

! history length
URxvt*saveLines: 8000

! cursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 22

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colurUL: #4682B4
