URxvt*.foreground:   #878b91
URxvt*.background:   #1d2024
URxvt*.cursorColor:  #878b91

URxvt*.color0:       #1d2024
URxvt*.color8:       #2a2e34
URxvt*.color1:       #944d4d
URxvt*.color9:       #b05f5f
URxvt*.color2:       #495e49
URxvt*.color10:      #5c785c
URxvt*.color3:       #6e663d
URxvt*.color11:      #877c4c
URxvt*.color4:       #445766
URxvt*.color12:      #5b7587
URxvt*.color5:       #4a3f4d
URxvt*.color13:      #67596b
URxvt*.color6:       #3d5453
URxvt*.color14:      #4d6b68
URxvt*.color7:       #6b6b6b
URxvt*.color15:      #878787

!URxvt*.foreground:   #878b91
!URxvt*.background:   #1d2024
!URxvt*.cursorColor:  #878b91

!URxvt*.color0:       #1d2024
!URxvt*.color8:       #2a2e34
!URxvt*.color1:       #935b5b
!URxvt*.color9:       #b17272
!URxvt*.color2:       #535f53
!URxvt*.color10:      #697869
!URxvt*.color3:       #6d6748
!URxvt*.color11:      #867e59
!URxvt*.color4:       #4f5c66
!URxvt*.color12:      #697b88
!URxvt*.color5:       #4c474d
!URxvt*.color13:      #6a646c
!URxvt*.color6:       #455352
!URxvt*.color14:      #596c6a
!URxvt*.color7:       #6b6b6b
!URxvt*.color15:      #878787

! font
! run fc-list for a list of available fonts
URxvt*font: xft:Tamsyn::pixelsize=14:style=regular:antialias=false
URxvt*boldFont: xft:Tamsyn:pixelsize=14:style=bold:antialias=false

! spacing
URxvt*letterSpace: 0
URxvt*lineSpace: 0

! disable scroll bar
URxvt*scrollBar: false

! scroll with output
URxvt*scrollTtyOutput: false

! scroll to the bottom on keypress
URxvt*scrollTtyKeypress: true

! history length
URxvt*saveLines: 8000

! cursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 22

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colurUL: #4682B4
