#!/bin/bash

wid=$1
class=$2
instance=$3

echo "$instance $wid $class" >> /tmp/bspc_external_rules.log

if [ "$instance" == "termite" ] ; then
    if [ "$class" == "custom_floating" ] ; then
        border_size=2
        width=$(echo "1920 - $border_size*2" | bc)
        height=$(echo "1080 / 4" | bc)

        echo "state=floating"

        xdotool windowmove $wid 0 0
        xdotool windowsize $wid $width $height
    fi
fi
