#!/bin/sh

out="/tmp/windows"

wid=$1
class=$2
instance=$3

#echo "id $wid" >> $out
#echo "title $(xtitle $wid)" >> $out
#echo "class $class" >> $out
#echo "instance $instance" >> $out

#xdotool windowmove $(xdotool search --name hscfi) 1920 0

if [ "$instance" = "hscfi" ] ; then
	echo "pseudo_tiled=on"
	echo "split_ratio=0.8"

	#num_windows=$(bspc query -T | grep "hscfi.*f" | wc -l)
	#echo $num_windows >> $out

	#num_windows=$(bspc query -T | grep "hscfi.*f" | wc -l)
	#if [ $num_windows -eq 0 ] ; then
	#	bspc window $wid -f
	#	echo "split_dir=left"
	#elif [ $num_windows -eq 1 ] ; then
	#	win=$(bspc query -T | grep "hsfci.*f" | awk '{print $4}' | head -1)
	#	bspc window $win -f
	#	echo "split_dir=down"
	#	echo "TEST" >> $out
	#fi
		#win=$(bspc query -T | grep "hsfci.*f" | awk '{print $4}' | head -1)
	#elif [ $num_windows -eq 2 ] ; then
		#win=$(bspc query -T | grep "hsfci.*f" | awk '{print $4}' | tail -1)
	#fi
	#bspc window $wid -t floating=off pseudo_tiled=on
	#bspc window $win -f && bspc window -e right -300
fi
