! color scheme
URxvt*background: #262626
URxvt*foreground: #D2C5BC
! black
*color0: #525252
*color8: #707070
! red
*color1: #956068
*color9: #B06d75
! green
*color2: #86A66A
*color10: #A3C082
! yellow
*color3: #E5C386
*color11: #F3D280
! blue
*color4: #869AC3
*color12: #96A8B7
! magenta
*color5: #7F7897
*color13: #9694B2
! cyan
*color6: #90C2B4
*color14: #A6D7CC
! white
*color7: #A0A0A0
*color15: #EFEFEF

! font
! run fc-list for a list of available fonts
URxvt*font: xft:dina:size=9

! spacing
URxvt*letterSpace: 0
URxvt*lineSpace: 0

! disable scroll bar
URxvt*scrollBar: false

! scroll with output
URxvt*scrollTtyOutput: false

! scroll to the bottom on keypress
URxvt*scrollTtyKeypress: true

! history length
URxvt*saveLines: 8000

URxvt*intensityStyles: false

! cursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 22

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.colurUL: #4682B4
